{
    "presets": [
        ["env", {
            "targets": {
                "browsers": [
                    ">0.25%",
                    "not ie 11",
                    "not op_mini all"
                ]
            }
        }],
        "react",
        // "es2015",
        "stage-0"
    ],
    "plugins": [
        // ["import", {
        //     "libraryName": "slucky",
        //     "libraryDirectory": "component",
        // }, {
        //     "libraryName": "antd",
        //     "libraryDirectory": "es"
        // }],
        "react-hot-loader/babel",
        "syntax-dynamic-import",
        [
            "transform-runtime",
            {
                "helpers": false,
                "polyfill": false,
                "regenerator": true,
                "moduleName": "babel-runtime"
            }
        ],
    ]
}
