.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.example-appear {
    opacity: 0.01;
    position: relative;
    top: -30px;
    // left: 50px;
}

.example-appear.example-appear-active {
    opacity: 1;
    transition: all .3s ease-in;
    top: 0;
    // left: 0;
}

.topdown{
    animation: topdown 1.6s linear infinite;
}

@keyframes topdown{
    0%{
        top: -116px;
    }
    50%{
        top: -136px;
    }
    100%{
        top: -116px;
    }
}
