// .ant-calendar-picker-input {}
.ant-input {
    padding: 8px !important;
    border: solid 1px #f4f4f4 !important;
    border-radius: 0 !important;
    background-color: rgba(0, 0, 0, 0) !important;
    letter-spacing: 1px !important;
    color: #222222 !important;
    height: 38px !important;
}

.ant-input::-webkit-input-placeholder {
    color: #888888 !important;
}