// var of self
// --------------------------------------------------
// Google design color
$blue:					rgba(52, 152, 219, 1);
$blue_d:				rgba(41, 128, 185, 1);
$cyan: 					rgba(26, 188, 156, 1);
$cyan_d: 				rgba(22, 160, 133, 1);
$green: 				rgba(31, 204, 123, 1);
$green_d: 				rgba(39, 174, 96, 1);
$purple: 				rgba(155, 89, 182, 1);
$purple_d: 				rgba(142, 68, 173, 1);
$black: 				rgba(52, 73, 94, 1);
$black_d: 				rgba(44, 62, 80, 1);
$yellow: 				rgba(241, 196, 15, 1);
$yellow_d: 				rgba(243, 156, 18, 1);
$orange: 				rgba(255, 164, 4, 1);
$orange_d: 				rgba(211, 84, 0, 1);
$red: 					rgba(231, 76, 60, 1);
$red_d: 				rgba(192, 57, 43, 1);
$white: 				rgba(236, 240, 241, 1);
$white_d:			 	rgba(189, 195, 199, 1);
$grey: 					rgba(149, 165, 166, 1);
$grey_d: 				rgba(127, 140, 141, 1);
$pink: 					rgba(233, 30, 99, 1);
//base
$base_color: 			rgba(241, 241, 241, 1);
$tran: 					rgba(221, 221, 221, 1);
//text color
$divider_b:				rgba(black, .12); //divider
$hint_b:				rgba(black, .26); //hint disable
$icon_b:				rgba(black, .54); //icon secondary
$text_b:				rgba(black, .87); //text
$divider_w:				rgba(white, .12); //divider
$hint_w:				rgba(white, .3); //hint disable
$icon_w:				rgba(white, .7); //icon secondary
$text_w:				rgb(255, 255, 255); //text
//scale set
$w_space:				-5px;
$lh_base:				16; //line-height-base
$wid_base:				72; //width-base
$p_base:				8; //padding&margin-base
//color
$paper_color:			#fff;
$bor_color:				#ccc;
$shadow_color:			rgba(0, 0, 0, .1);
$tp_color:				rgba(0, 0, 0, 0);
//input
$tri_color:				#ccc;
$outline_color:			$divider_b;
$b_input_down:			$green;
$c_input_down:			$text_b;
$placeholder_input_down:$grey;
$c_input_ps:			$red;
$color_input_main:		$green;
$color_input_def:		$divider_b;
